*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(128, 128, 128, 0.721);
}
.container{
    /* background-color: red; */
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: solid 7px transparent;
}

.img:hover{
    border: solid 7px black;
    cursor: pointer;
}

.scoreBoard{
    display: flex;
    gap: 100px;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
}
.IndiScore{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    font-size: x-large;
    
}
.btns{
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.result{
    background-color: #1C3041;
    color: white;

}
.newGame{
    background-color: #a13856;
    font-weight: bolder;
    /* color: white; */
    
}
.newGame:hover{
    background-color: #802c43;
    cursor: pointer;
}